.card-header {
    background-color: blueviolet;
    color: white;
    text-align: center;
}
#text-center {
    text-align: center;
}
.green {
    background-color: green;
}
.blue {
    background-color:blue;
}
.red {
    background-color: red;
}
#story {
    display: none;
  }
